.app-main {
  display: flex;
  justify-content: flex-end;
}
.app-content {
  width: calc(100% - 330px);
  // padding-left: 230px;
  height: 100vh;
  margin-top: 65px;
  padding: 20px 10px;
  transition: 0.3s width;

  &.open {
    width: calc(100% - 80px);
  }

  .app-content-box {
    background: white;
    border-radius: 10px;
    height: auto;
    width: 100%;
    border: $border-primary;
    padding: 25px;

    .wrap-content {
      padding: 25px 5px;
    }

    .nav-tabs {
      border-bottom: $border-primary;

      li {
        button {
          font-size: 15px;
          &.active {
            border: $border-primary;
            font-weight: 600;
            color: $primary-color;
          }
        }
      }
    }
  }
}

.title-page {
  margin-bottom: 25px;
  .text {
    color: #636363;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 15px;
  }
}

.btn-search {
  .ant-btn-icon-only {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  .ant-input-search-button {
    border-radius: 0 6px 6px 0 !important;
  }
  .ant-input {
    border-radius: 6px;
  }
}

.ant-btn-primary {
  background: $primary-color !important;

  &:hover {
    background: #087cb6 !important;
    border-color: #087cb6 !important;
  }
}

.ant-btn {
  border-radius: 4px !important;
}

.wrap-table {
  .ant-pagination {
    .ant-pagination-item-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li {
      border-radius: 4px !important;

      &.ant-pagination-item-active a {
        color: $primary-color;
      }

      a,
      button {
        border-radius: 4px !important;
      }
    }
  }
}

.space-between {
  display: block;
  width: 100%;
  height: 30px;
}
.list-button {
  button {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.ant-card {
  border-radius: 0.575rem;
}
